{#
/**
 * @file
 * Slideshow template.
 */
#}
{% if is_front %}
    {% set attributes = attributes.setAttribute('id', 'slideshow_wrapper')%}

    <div{{ attributes.addClass('clearfix', 'slideshow_wrapper') }}>
        {{ title_suffix.contextual_links }}
        {{ content.field_slide }}
    </div>
{% endif %}

{% if logged_in %}
    {% set attributes = attributes.setAttribute('id', 'slideshow_wrapper')%}

        <div{{ attributes.addClass('clearfix', 'slideshow_wrapper', 'logged-in-slideshow') }}>
            {{ title_suffix.contextual_links }}
            {{ content.field_slide }}
        </div>
{% endif %}