{#
/**
 * @file
 * Slide template.
 */
#}
{% if is_front %}
<div{{ attributes.addClass('clearfix', 'front_page_slide_wrapper') }}>
{% else %}
<div{{ attributes.addClass('clearfix', 'inline_slide_wrapper') }}>
{% endif %}

    {{ title_suffix.contextual_links }}
    <div class="slide_wrapper">
        <div class="slide_image_wrapper">  
            {{ content.field_slide_image }}  
        </div>
        <div class="slide_text_wrapper">
                <div class="slide_text">
                    {{ content.field_slide_caption }}
                    {{ content.field_slide_link }}
                </div>
        </div>
    </div>
</div>