{#
/**
 * @file
 * Featured Content template. THIS FILE IS NOT ACTUALLY USED
 */
#}
<div{{ attributes.addClass('clearfix', 'featured_content_wrapper') }}>
    {{ title_suffix.contextual_links }}

    {% set featured_content_attributes = create_attribute() %}
    {% set classes = [] %}

    {% if content.field_orientation.0|render|lower|trim == "vertical" %} 
        {% set classes = classes|merge(['desktop_vertical']) %}
    {% else %}
        {% set classes = classes|merge(['desktop_horizontal']) %}
    {% endif %}

    <div{{ featured_content_attributes.addClass(classes) }}>
        <div class="featured_content_image">
            {{ content.field_featured_content_image }}
        </div>
        <div class="featured_content_content">
            <div class="featured_content_link">
            <h1> testing a theory</h1>
            {% if node.field_featured_content_link.entity.field_links_link.0.uri %}
                    <li id="zero-uri">{{ content.field_featured_content_link }}</li>
            {% else %}
                    <li id="link-text">{{ node.field_featured_content_link.entity.field_links_link_text.0.value }}</li>
            {% endif %}
            </div>
            <div class="featured_content_body">
                {{ content.body }}
            </div>
            <div class="featured_content_additional_links">
                {{ content.field_fc_additional_links }}
            </div>
        </div>
    </div>
</div>

{# THIS FILE IS NOT ACTUALLY USED #}