{#
/**
 * @file
 * Quote Box template.
 */
#}
<div{{ attributes.addClass('clearfix', 'quote_box_wrapper') }}>
    {{ title_suffix.contextual_links }}

    {% set quote_box_attributes = create_attribute() %}
    {% set classes = [] %}

    {% if content.field_quote_box_quotes[0]|render|lower|trim == "quotes" %}
        {% set classes = classes|merge(['quote_box_with_quotes']) %}
    {% else %}
        {% set classes = classes|merge(['quote_box_no_quotes']) %}
    {% endif %}

    {% if not content.field_quote_box_photo.0 %}
        {% set classes = classes|merge(['quote_border']) %}
    {% endif %}

    {% if content.field_quote_box_links.0|render %}
        {% set classes = classes|merge(['quote_button_margin']) %}
    {% endif %}

    <div{{ quote_box_attributes.addClass(classes) }}>
        <div class="quote_box_photo">{{ content.field_quote_box_photo }}</div>
        {{ drupal_dump(content.field_quote_box_photo) }}
        <div class="quote_box_quote_text">{{ content.field_quote_box_quote_text }}</div>
        <br>
        <div class="quote_box_name_person">{{ content.field_name_person }}</div>
        <div class="quote_box_affiliation">{{ content.field_quote_box_affiliation }}</div>
        {% if content.field_quote_link.0|render %}
            <div class="quote_box_btn">{{ content.field_quote_link }}</div>
        {% endif %}
    </div>
</div>
