{#
/**
 * @file
 * Featured Content Paragraph template.
 */
#}
<div{{ attributes.addClass('clearfix', 'featured_content_item_wrapper') }}>
    {{ title_suffix.contextual_links }}

    <div class="featured_content_image">
        {{ content.field_featured_content_image }}
    </div>
    <div class="featured_content_content">
        {% if paragraph.field_link.entity.field_links_link.0.uri %}
            <div class="featured_content_link">
                <li>{{ content.field_link }}</li>
            </div>
        {% else %}
            <div class="featured_content_link">
                <li>{{ paragraph.field_link.entity.field_links_link_text.0.value }}</li>
            </div>
        {% endif %}
        <div class="featured_content_body">
            {{ content.field_body }}
        </div>
        <div class="featured_content_additional_links">
            {{ content.field_supporting_links }}
        </div>
    </div>
</div>
