{#
/**
 * @file
 * Featured Content Paragraph template.
 */
#}
<div{{ attributes.addClass('clearfix', 'featured_content_item_wrapper') }}>
    {{ title_suffix.contextual_links }}

    <div class="featured_content_image">        
        {% if paragraph.field_link.entity.field_links_link.0.uri %}
            <a href= {{ paragraph.field_link.entity.field_links_link.0.url }} >
                {{ content.field_featured_content_image }}
            </a>
        {% else %}
            {{ content.field_featured_content_image }}
        {% endif %}
    </div>
    <div class="featured_content_content">
        
        <div class="featured_content_link">
            {% if paragraph.field_link.entity.field_links_link.0.uri %}
                {{ content.field_link }}
            {% else %}
                <li>{{ paragraph.field_link.entity.field_links_link_text.0.value }}</li>
            {% endif %}
        </div>
        <div class="featured_content_body">
            {{ content.field_body }}
        </div>
        <div class="featured_content_additional_links">
            {{ content.field_supporting_links }}
        </div>
    </div>
</div>
