<div class="four-grid">
  <div class="row" id="row_1">
  <div class="top col-md-12">
    {{ content.top }}
  </div>
  </div>
  
  <div class="row" id="row_2">
    <div class="first-content col-md-8">
      {{ content.first_content }}
    </div>
    <div class="calls-to-action col-md-4">
      {{ content.ctas }}
    </div>
  </div>
  <div class="row" id="row_3">
    <div class="column_one_content col-md-3">
      {{content.column_one_content}}
    </div>
    <div class="column_two_content col-md-3">
      {{content.column_two_content}}
    </div>
    <div class="column_three_content col-md-3">
      {{content.column_three_content}}
    </div>
    <div class="column_four_content col-md-3">
      {{content.column_four_content}}
    </div>
  </div>
  
  
</div>