<div class="front-page-classic">
<div class="main-region col-md-12">
    {{ content.top }}
  </div>
  <div class="main-region col-md-8">
    {{ content.first }}
  </div>
  <div class="calls-to-action col-md-4">
    {{content.ctas}}
  </div>
  <div class="middle col-md-12">
    {{ content.middle }}
  </div>
  <div class="bottom col-md-3">
    {{ content.bottom_callout }}
  </div>
    <div class="bottom col-md-9">
    {{ content.bottom_feed }}
  </div>
</div>