<div class="front-page-classic">
  <div class="row" id="row_1">
  <div class="top col-md-12">
    {{ content.top }}
  </div>
  </div>
  
  <div class="row" id="row_2">
    <div class="first-content col-md-8">
      {{ content.first_content }}
    </div>
    <div class="calls-to-action col-md-4">
      {{ content.ctas }}
    </div>
  </div>

  <div class="row" id="row_3">
    <div class="middle-left col-md-4">
      {{ content.middle_left }}
    </div>
    <div class="middle-center col-md-4">
      {{ content.middle_center }}
    </div>
    <div class="middle-right col-md-4">
      {{ content.middle_right }}
    </div>
  </div>
  <div class="row" id="row_5">
    <div class="featured_content col-md-12">
      {{content.featured_content}}
    </div>
  </div>
  <div class="row" id="row_4">
    <div class="bottom_callout col-md-3">
      {{ content.bottom_callout }}
    </div>
      <div class="bottom_feed col-md-9">
      {{ content.bottom_feed }}
    </div>
  </div>
  
</div>