{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<ul class="main_nav">
	{{ menus.menu_links(items, attributes, 0) }}
</ul>

{% macro menu_links(items, attributes, level) %}
	{% import _self as menus %}
	{% if items %}
			{% for item in items %}
				{% if level == 1 %}
					{% set child_classes = 'child_class' %} 
				{% elseif level == 2 %}	
					{% set child_classes = 'grandchild_class' %} 
				{% elseif level == 3 %}	
					{% set child_classes = 'great_grandchild_class' %}
				{% endif %}
				<li{{ item.attributes.addClass(child_classes) }}>
					<a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
				</li>
				{% if item.below and item.in_active_trail %}
					{% set nextLevel = level + 1 %}
					{{ _self.menu_links(item.below, attributes, nextLevel) }}
				{% endif %}
			{% endfor %}
	{% endif %}
{% endmacro %}

