<div class="footer_wrapper">
    <div class="footer_logo_wrapper">
        {{ drupal_block('sitebranding') }}
    </div>
    <div class="footer_social_wrapper">
        {{ drupal_block('socialmedialinks') }}
    </div>
    <div class="footer_badge_wrapper">
        {{ drupal_block('footerbadge') }}
    </div>
    <div class="footer_contact_wrapper">
        {{ drupal_block('footercontact') }}
    </div>
    <div class="footer_menu_wrapper">
        {{ drupal_menu('footer-vertical') }}
        {{ drupal_block('sitebranding') }}
    </div>
</div>
