<div class="footer_wrapper">
    <div class="footer_logo_wrapper">
    {{ drupal_block('cu2017_branding') }}
        {{ drupal_block('sitebranding') }}
        {{ drupal_entity('block','sitebranding', check_access=false) }}
    </div>
    <div class="footer_social_wrapper">
        {{ drupal_block('socialmedialinks') }}
        {{ drupal_entity('block','socialmedialinks', check_access=false) }}
    </div>
    <div class="footer_badge_wrapper">
        {{ drupal_block('footerbadge') }}
        {{ drupal_entity('block','footerbadge', check_access=false) }}
    </div>
    <div class="footer_contact_wrapper">
        {{ drupal_block('footercontact') }}
        {{ drupal_entity('block','footercontact', check_access=false) }}
    </div>
    <div class="footer_menu_wrapper">
        {{ drupal_menu('footer-vertical') }}
        {{ drupal_entity('block','footer-vertical', check_access=false) }}
    </div>
</div>
