<div class="footer_wrapper">
    <div class="footer_logo_wrapper">
        {{ drupal_entity('block', 'sitebranding') }}
    </div>
    <div class="footer_social_wrapper">
        {{ drupal_entity('block', 'socialmedialinks') }}
    </div>
    <div class="footer_badge_wrapper">
        {{ drupal_entity('block', 'footerbadgeblock') }}
    </div>
    <div class="footer_contact_wrapper">
        {{ drupal_entity('block', 'footercontactblock') }}
    </div> 

    <div class="footer_menu_wrapper">
        {{ drupal_menu('footer-vertical') }}
    </div>
</div>
